In [1]:
# import the required libraries
import pandas as pd
import numpy as np
import warnings; warnings.simplefilter('ignore')
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
df = pd.read_csv('Advertising_data.csv')
df.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [3]:
x = df.iloc[:, [2, 3]]
y = df.iloc[:, 4]

In [4]:
x

      Age  EstimatedSalary
0    19.0          19000.0
1    35.0          20000.0
2    26.0          43000.0
3    27.0          57000.0
4    19.0          76000.0
..    ...              ...
395  46.0          41000.0
396  51.0          23000.0
397  50.0          20000.0
398  36.0          33000.0
399  49.0          36000.0

[400 rows x 2 columns]

In [5]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [6]:
# splitting my data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [7]:
# feature scaling
sc = StandardScaler()
x_train=sc.fit_transform(x_train)
x_test= sc.fit_transform(x_test)

In [8]:
# fitting SVM to training dataset
classifier = SVC(kernel= 'linear', random_state=0)
classifier.fit(x_train, y_train)

SVC(kernel='linear', random_state=0)

In [9]:
# predicting the test set results
y_pred = classifier.predict(x_test)

In [10]:
cm = confusion_matrix(y_test, y_pred)

In [11]:
cm

array([[75,  4],
       [13, 28]], dtype=int64)

In [12]:
acc = accuracy_score(y_test, y_pred)

In [13]:
acc

0.8583333333333333

In [14]:
# Applying grid search to find the best model hyperparameters
paramters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']}, # make sure u delcare hyperparamters in entire one dictionary
            {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator= classifier, param_grid= paramters, scoring='accuracy', cv=8, n_jobs= -1)
grid_search = grid_search.fit(x_train, y_train)

In [15]:
acc = grid_search.best_score_

In [16]:
acc # here our acc got improved to 92%

0.925

In [17]:
grid_search.best_params_

{'C': 1, 'gamma': 0.9, 'kernel': 'rbf'}