In [2]:
import pandas as pd
import numpy as np
VOCAB_SIZE = 2500 
TRAINING_DATA_FILE = 'SpamData/SpamData/02_Training/train-data.txt'
TEST_DATA_FILE = 'SpamData//SpamData/02_Training/test-data.txt'

In [3]:
sparse_train_data = np.loadtxt(TRAINING_DATA_FILE, delimiter=' ', dtype= int)
sparse_test_data = np.loadtxt(TEST_DATA_FILE, delimiter=' ', dtype= int)

In [4]:
sparse_train_data

array([[   0,    2,    1,    1],
       [   0,    3,    1,    2],
       [   0,    4,    1,    1],
       ...,
       [5795, 2271,    0,    1],
       [5795, 2348,    0,    1],
       [5795, 2379,    0,    1]])

In [5]:
sparse_test_data

array([[   8,    2,    1,    1],
       [   8,    3,    1,    4],
       [   8,    4,    1,    2],
       ...,
       [5793, 2369,    0,    1],
       [5793, 2399,    0,    3],
       [5793, 2483,    0,    1]])

In [6]:
np.unique(sparse_train_data[:,0]).size

4013

In [7]:
np.unique(sparse_test_data[:,0]).size

1724

In [8]:
def make_full_matrix(sparse_matrix, nr_words, doc_idx=0, word_idx=1, cat_idx=2, freq_idx=3):
    
    
    column_names = ['DOC_ID'] + ['CATEGORY'] + list(range(0, VOCAB_SIZE))
    
    doc_id_names = np.unique(sparse_matrix[:, 0])
    
    full_matrix = pd.DataFrame(index=doc_id_names, columns=column_names)
    
    full_matrix.fillna(value=0, inplace=True)
    
    
    for i in range(sparse_matrix.shape[0]):
        
        doc_nr = sparse_matrix[i][doc_idx]
        
        word_id = sparse_matrix[i][word_idx]
        
        label = sparse_matrix[i][cat_idx]
        
        occurrence = sparse_matrix[i][freq_idx]
        
        full_matrix.at[doc_nr, 'DOC_ID'] = doc_nr
        
        full_matrix.at[doc_nr, 'CATEGORY'] = label
        
        full_matrix.at[doc_nr, word_id] = occurrence
    
    full_matrix.set_index('DOC_ID', inplace=True)
    
    return full_matrix

In [9]:
full_train_data = make_full_matrix(sparse_train_data, VOCAB_SIZE)
full_train_data

,CATEGORY,0,1,2,3,4,5,6,7,8,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,1,0,0,1,2,1,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
1,1,7,1,2,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,6,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6,0,0,2,4,0,3,14,0,...,0,0,0,0,0,0,0,0,0,0
4,1,5,1,2,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789,0,3,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5790,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5791,0,3,1,0,1,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
5794,0,1,1,1,0,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
5795,0,3,4,2,0,5,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
full_train_data.CATEGORY.size

4013

In [11]:
full_train_data.CATEGORY.sum()

1248

In [12]:
prob_spam=full_train_data.CATEGORY.sum()/full_train_data.CATEGORY.size
prob_spam

0.310989284824321

In [13]:
full_train_features = full_train_data.loc[:, full_train_data.columns != 'CATEGORY']
full_train_features

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,2,1,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,0,0,2,4,0,3,14,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789,3,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5790,1,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5791,3,1,0,1,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
5794,1,1,1,0,0,1,2,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5795,3,4,2,0,5,0,3,0,0,4,...,0,0,0,0,0,0,0,0,0,0

In [14]:
email_lengths=full_train_features.sum(axis = 1)
email_lengths

DOC_ID
0        87
1        53
2        40
3       183
4        43
       ...
5789     18
5790     72
5791     46
5794     57
5795    264
Length: 4013, dtype: int64

In [15]:
email_lengths.shape[0]

4013

In [16]:
total_wc=email_lengths.sum()
total_wc

429184

In [17]:
spam_lengths=email_lengths[full_train_data.CATEGORY ==1]
spam_lengths

DOC_ID
0        87
1        53
2        40
3       183
4        43
       ...
1885     45
1887     26
1889    115
1890     26
1895    162
Length: 1248, dtype: int64

In [18]:
spam_wc=spam_lengths.sum()
spam_wc

176318

In [19]:
ham_lengths = email_lengths[full_train_data.CATEGORY ==0]
ham_lengths

DOC_ID
1896     82
1898    112
1899     66
1900     49
1901     34
       ...
5789     18
5790     72
5791     46
5794     57
5795    264
Length: 2765, dtype: int64

In [20]:
nonspam_wc = ham_lengths.sum()
nonspam_wc

252866

In [21]:
nonspam_wc + spam_wc

429184

In [22]:
nonspam_wc/ham_lengths.shape[0] # average number of words in the ham mail

91.45244122965642

In [23]:
spam_wc/spam_lengths.shape[0] # averagwe number of words in the spam mail

141.28044871794873

In [24]:
train_spam_token=full_train_features.loc[full_train_data.CATEGORY == 1]
train_spam_token

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,2,1,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,0,0,2,4,0,3,14,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,1,0,0,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1887,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1889,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1890,2,0,0,0,1,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1895,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
train_spam_token.shape

(1248, 2500)

In [27]:
summed_spam_tokens=train_spam_token.sum(axis = 0)+1 # Laplace Smoothing is adding i on both numerator and denominator
summed_spam_tokens

0       2179
1        935
2       1217
3       2022
4       1219
        ...
2495       8
2496       1
2497       2
2498       1
2499      26
Length: 2500, dtype: int64

In [28]:
prob_spam_tokens=summed_spam_tokens/(spam_wc + VOCAB_SIZE)
prob_spam_tokens

0       0.012186
1       0.005229
2       0.006806
3       0.011308
4       0.006817
          ...
2495    0.000045
2496    0.000006
2497    0.000011
2498    0.000006
2499    0.000145
Length: 2500, dtype: float64

In [29]:
prob_spam_tokens.sum() # need to check overall prob is 1 or not

1.0

In [30]:
train_ham_tokens = full_train_features.loc[full_train_data.CATEGORY == 0]
summed_ham_tokens = train_ham_tokens.sum(axis=0) + 1 
summed_ham_tokens

0       5484
1       2590
2       2045
3        938
4       1612
        ...
2495      27
2496       6
2497      28
2498      25
2499       3
Length: 2500, dtype: int64

In [31]:
prob_tokens_nonspam = summed_ham_tokens / (nonspam_wc + VOCAB_SIZE)
prob_tokens_nonspam

0       0.021475
1       0.010142
2       0.008008
3       0.003673
4       0.006313
          ...
2495    0.000106
2496    0.000023
2497    0.000110
2498    0.000098
2499    0.000012
Length: 2500, dtype: float64

In [32]:
prob_tokens_nonspam.sum()

1.0

In [33]:
prob_token_all=full_train_features.sum(axis = 0)/total_wc
prob_token_all

0       0.017850
1       0.008209
2       0.007596
3       0.006892
4       0.006592
          ...
2495    0.000077
2496    0.000012
2497    0.000065
2498    0.000056
2499    0.000063
Length: 2500, dtype: float64

In [34]:
prob_token_all.sum()

1.0

In [35]:
TOKEN_SPAM_PROB_FILE = 'SpamData/SpamData/03_Testing/prob-spam.txt'
TOKEN_HAM_PROB_FILE = 'SpamData/SpamData/03_Testing/prob-nonspam.txt'
TOKEN_ALL_PROB_FILE = 'SpamData/SpamData/03_Testing/prob-all-tokens.txt'

In [36]:
np.savetxt(TOKEN_SPAM_PROB_FILE, prob_spam_tokens)
np.savetxt(TOKEN_HAM_PROB_FILE, prob_tokens_nonspam)
np.savetxt(TOKEN_ALL_PROB_FILE,prob_token_all)

In [37]:
# prepare the test data....

In [38]:
sparse_test_data[:5]

array([[8, 2, 1, 1],
       [8, 3, 1, 4],
       [8, 4, 1, 2],
       [8, 5, 1, 1],
       [8, 6, 1, 2]])

In [39]:
sparse_test_data.shape

(117774, 4)

In [40]:
full_test_data = make_full_matrix(sparse_test_data, nr_words=VOCAB_SIZE)
full_test_data

,CATEGORY,0,1,2,3,4,5,6,7,8,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
8,1,0,0,1,4,2,1,2,4,1,...,0,0,0,0,0,0,0,0,0,0
12,1,6,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,0,2,1,1,2,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
17,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5783,0,2,1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5786,0,5,5,2,2,1,2,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5788,0,0,4,0,2,4,3,3,1,4,...,0,0,0,0,0,0,0,0,0,0
5792,0,2,2,0,1,0,0,2,1,0,...,0,0,0,0,0,0,0,0,0,0
5793,0,1,9,1,0,0,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [41]:
X_test=full_test_data.loc[:, full_test_data.columns != 'CATEGORY']
X_test

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
8,0,0,1,4,2,1,2,4,1,2,...,0,0,0,0,0,0,0,0,0,0
12,6,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,2,1,1,2,0,0,3,0,4,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5783,2,1,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5786,5,5,2,2,1,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5788,0,4,0,2,4,3,3,1,4,3,...,0,0,0,0,0,0,0,0,0,0
5792,2,2,0,1,0,0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5793,1,9,1,0,0,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [42]:
X_test.shape

(1724, 2500)

In [43]:
y_test = full_test_data.CATEGORY
y_test

DOC_ID
8       1
12      1
14      1
15      1
17      1
       ..
5783    0
5786    0
5788    0
5792    0
5793    0
Name: CATEGORY, Length: 1724, dtype: int64

In [44]:
y_test.shape

(1724,)

In [45]:
TEST_FEATURE_MATRIX = 'SpamData/SpamData/03_Testing/test-features.txt'
TEST_TARGET_FILE = 'SpamData/SpamData/03_Testing/test-target.txt'

In [46]:
np.savetxt(TEST_FEATURE_MATRIX, X_test)
np.savetxt(TEST_TARGET_FILE, y_test)

In [47]:
# dot products
a = np.array([1, 2, 3])
b = np.array([0, 5, 4])
print('a = ', a)
print('b = ', b)

a =  [1 2 3]
b =  [0 5 4]

In [48]:
a.dot(b)

22